/* CSS Document */



body
{
    margin: 0px;
    padding: 0px;
    background: #fff;
    font-size: 12px;
    font-family: "微软雅黑" , Times, serif;
}
ul, dl, dt, dd, li
{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
div
{
    margin: 0 auto;
    text-align: left;
}

.cls
{
    clear: both;
}

a
{
    color: #787878;
    text-decoration: none;
}

.center
{
    width: 1051px;
}

.top
{
}

img{ border:none;}
.container
{
    text-align:left;
    min-height:560px;
    max-width:1051px;   
    padding-top:5px;
}
.zong .top .top1
{
    /*padding-top: 20px;
    padding-bottom: 10px;*/
}

.zong .top .top2
{
    background-image: url(images/sucai1_15.jpg);
    background-repeat: repeat-x;
    background-position: center center;
    height: 35px;
    line-height: 35px;
}
.zong .top .top1.center .left
{
    float: left;
    width: 200px;
}
.zong .top .top1.center .right
{
    float: right;
    width: 800px;
    padding-top:25px
}
.zong .top .top1.center .right .dingbu
{
    text-align: right;
    /* width: 80px; */
    margin-left: 20px;
    float: right;
    padding-top: 5px;
}

.sousou
{
    background-image: url(images/abg.jpg);
    background-repeat: no-repeat;
    background-position: center 3px;
    height: 30px;
    width: 181px;
    float: right;
    line-height: 30px;
}
.zong .bottom .bttm1
{
    min-height: 180px;
    background: #ededed url(images/abg1.jpg) repeat-x center top;
    padding-bottom: 10px;
}
.zong .bottom .bttm2
{
    border-top: 3px #c4c4c4 solid;
    min-height: 60px;
    background: #686868;
    line-height: 60px;
    color: #fff;
}
.zong .bottom .bttm2 a
{
    color: #fff;
}


.sousou_text
{
    border: none;
    height: 21px;
    width: 155px;
    background: none;
}

.sousou_button
{
    margin-left: 2px;
    background: none;
    border: none;
    width: 20px;
    cursor: pointer;
}

.mennu
{
}
.mennu a
{
    display: block;
    float: left;
    width: 133px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
}

.mennu a:hover, .mennu a.set
{
    background: url(images/sucai1_11.jpg) repeat-x center center;
}
.guanyu td
{
    background: #d2d2d2;
    text-align: center;
}

.bttm1_right dl
{
    float: left;
    width: 90px;
    padding-left: 15px;
    text-align: left;
    line-height: 30px;
    border-left: 2px #fff solid;
    min-height: 140px;
}
.bttm1_right dl dt a
{
    font-size: 14px;
    font-weight: 700;
    color: #000;
}
.bttm1_right dl dd a
{
    color: #1c1a1a;
}

.xinwen
{
    height: 30px;
    line-height: 30px;
    border: 1px #ddd solid;
    border-radius: 3px;
    text-align: center;
}

.xinwen ul
{
    overflow: hidden;
    height: 30px;
}


.post1
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.post1 .zhanshi
{
    min-height: 280px;
    width: 318px;
    margin-right: 30px;
    border: 1px #ddd solid;
    float: left;
}
.post1 .zhanshi .guan
{
    width: auto;
    margin-top: 10px;
    min-height: auto;
}
.post1 .zhanshi .guan .title
{
    background: #0560af;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 20px;
    marign-bottom: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
.post1 .zhanshi .guan .img
{
    margin-top: 20px;
    margin-bottom: 10px;
}

.post1 .zhanshi .guan .text
{
    text-align: left;
    min-height: 50px;
    line-height: 25px;
    font-size: 12px;
    color: #464444;
}
.post1 .zhanshi .guan .xx
{
    text-align: right;
    margin-top: 10px;
}

.post1 .zhanshi .guan .list
{
    margin-top: 10px;
    text-align: left;
}
.post1 .zhanshi .guan .list ul li
{
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 15px;
    color: #6697b3;
    background: url(../images/sucai1_33.jpg) no-repeat left center;
}
.post1 .zhanshi .guan .list1 ul li
{
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 15px;
    color: #3f3b3b;
    background: url(images/sucai1_33.jpg) no-repeat left center;
}
.post1 .zhanshi .guan .list ul li a
{
    font-size: 14px;
    color: #6697b3;
}
.post1 .zhanshi .guan .list1 ul li a
{
    font-size: 12px;
    color: #3f3b3b;
}
.ziye_zhong
{
    padding-top: 20px;
    margin-bottom: 20px;
}
.ziye_zhong .left
{
    float: left;
    width: 231px;
}
.ziye_zhong .right
{
    float: right;
    width: 780px;
}
.ziye_list
{
    width: 200px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
}

.ziye_list a
{
    display: block;
    line-height: 30px;
    height: 30px;
    text-align: center;
    width: 158px;
    margin-left: 20px;
    border: 1px #ddd solid;
    margin-bottom: 10px;
    font-weight: 700;
    background: url(images/abg5.jpg) repeat-x center top;
}

.ziye_list a:hover
{
    color: #0e5ea7;
}

.zhong_daohang
{
    text-align: left;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px #ddd solid;
}
.sp_list
{
    margin-top: 10px;
    min-height: 400px;
}

.sp_list .sp_a
{
    float: left;
    width:182px;
    margin-right: 13px;
}
.sp_list .sp_a .img
{
    border: 1px #ddd solid;
    padding: 5px;
}
.sp_list .sp_a .name
{
    height: 30px;
    line-height: 30px;
}



*
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* mainbanner */
.mainbanner
{
    height: 385px;
    overflow: hidden;
    /*position: relative;*/
}
.mainbanner_window
{
    left: 50%;
    width: 2000px;
    height: 385px;
    overflow: hidden;
    margin-left: -1000px;
    position: absolute;
}
.mainbanner_window ul
{
    width: 999999px;
    height: 385px;
    position: relative;
}
.mainbanner_window li
{
    background: rgb(204, 204, 204);
    width: 2000px;
    height: 385px;
    text-align: center;
    font-size: 0px;
    float: left;
    display: inline;
}
.mainbanner_list
{
    left: 80%;
    top: 470px;
    width: 500px;
    height: 30px;
    margin-left: -45px;
    position: absolute;
}
.mainbanner_list li
{
    width: 25px;
    height: 25px;
    overflow: hidden;
    float: left;
    display: inline;
}
.mainbanner_list a
{
    width: 14px;
    height: 14px;
    float: left;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 14px;
    font-family: Verdana;
    background: #bbb;
    display: inline;
    margin: 0 5px 0 0;
    cursor: pointer;
    border: 1px solid #a9abaa;
    text-decoration: none;
}
.mainbanner_list li.active a
{
    background: #ff902a;
    border: 1px solid #ff6502;
}
.mainbanner_list li a:hover
{
    background: #ff902a;
    border: 1px solid #ff6502;
}
p
{ text-align:left
    }

.news-title {font-size:18px; font-weight:bold; line-height:50px; padding-top:14px}
.newsdetail-title {font-size:23px; line-height:50px; padding-top:21px; font-weight:bold}
.newsdetail-doc {font-size:15px; line-height:1.8; margin:auto; width:100%; color:#333332;font-family: 微软雅黑}

.news2{ font-size:13px;}
.news2 li{ list-style:none; clear:both;margin-top:10px; border-bottom:1px dashed #ccc; height:18px; display:block}
.news2 li a#n1{ text-decoration:none;float:left;}
.news2 li a#n2{ text-decoration:none; float:right; color:#999;display:block}
.news2 li a#n3{ float:right; padding-right:20px;color:#999; display:block}
.news2 li a#n1:hover{ text-decoration:underline;}
.news2 li a#n3:hover,.news li a#n3:hover{ text-decoration:none;}


#endText {  margin-right: 10px; overflow: hidden; text-align: justify; text-justify: inter-ideograph; clear: both; font-size: 13px; line-height: 20px; padding-bottom: 20px; word-wrap: break-word; }
#endText h2 { font-size: 14px; }
#endText p { font-size: 14px; text-indent: 2em; margin: 10px 0; }
#endText .icon { margin-left: 2px; border: 0; }
#endText .ep-source { float: right; _display: inline; font-size: 12px; line-height: 13px; padding: 6px 0; }
#endText .ep-editor { float: right; _display: inline; white-space: nowrap; margin-left: 25px; }
#endText a { text-decoration: underline; }
#endText a, #endText a:visited { color: #0f6b99; }
#endText a:hover, #endText a:active { color: #cc1b1b; }
/* cms */
#endText table td p {text-indent:0;font-size:12px;margin:0;}
#endText table th p {text-indent:0;font-size:12px;margin:0;}
#endText table td img {border: none; margin:5px}
#endText.left{ width:100%}


.gridtable 
{
    width:100%;
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
.gridtable td {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

.product {text-align: center; padding-bottom: 30px; border-bottom: 1px solid #DEDBDB;height: 9px}
.product .no {padding: 10px; margin: 5px; width: 100px; float: left;cursor:pointer; background-color: #DEDBDB; font-weight: bold; color: #4A4A4A;}
.product .yes{padding: 10px; margin: 5px; width: 100px; float: left;cursor:pointer; background-color: Red;font-weight: bold; color: White; }
.product-descs {text-align: left; padding: 10px; font-size: 14px; font-family: 微软雅黑; line-height:2}

.about-title{font-size:20px;font-family: 微软雅黑; font-weight:bold; margin-top:20px; margin-bottom:20px; text-align:left; color:Gray}


.paginator
{
    font: 12px Arial, Helvetica, sans-serif;
    padding: 10px 20px 10px 0;
    margin: 0px auto;
    float: right;
}

.paginator a
{
    border: solid 1px #ccc;
    color: #0063dc;
    cursor: pointer;
    text-decoration: none;
}

.paginator a:visited
{
    padding: 1px 6px;
    border: solid 1px #ddd;
    background: #fff;
    text-decoration: none;
}

.paginator .cpb
{
    border: 1px solid #F50;
    font-weight: 700;
    color: #F50;
    background-color: #ffeee5;
}

.paginator a:hover
{
    border: solid 1px #F50;
    color: #f60;
    text-decoration: none;
}

.paginator a, .paginator a:visited, .paginator .cpb, .paginator a:hover
{
    float: left;
    height: 26px;
    line-height: 26px;
    min-width: 10px;
    _width: 10px;
    margin-right: 5px;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    font-family: Arial,SimSun;
    padding: 0 5px;
}

.paginator label
{
    display: block;
    line-height: 26px;
    float: left;
}